<% title "Login" %>

<%= form_tag sessions_path do %>
  <fieldset>
    <legend>Login</legend>
      <div class="modal-body">
        <%= twitter_bootstrap_text_field_tag(:username, 'Usuário', params) %>
        <%= twitter_bootstrap_password_field_tag(:password, 'Senha', params) %>
      </div>
      
      <%= twitter_bootstrap_submit_tag 'Entrar', :class => 'modal-footer', :id => 'login-button' %>
  </fieldset>
<% end %>
