config/database.yml
config/config.yml
config/development.sphinx.conf
config/test.sphinx.conf
config/environment.rb
log/*
*~
db/sphinx
db/sphinx/*
db/sphinx/development/*
db/sphinx/test/*
public/backups/*
.sass-cache/
