<p class="fields">  
    <%= f.label :title, "Palavra Chave" %><br />  
    <%= f.autocomplete_field :title, autocomplete_tag_title_books_path %>
    <%= link_to_remove_fields "remove", f %>  
</p>  
