<div class="control-group">  
    <%= f.label :title, "Palavra Chave", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => "book_tags text_field" %>
    <span class="help-inline"><%= link_to_remove_fields raw("&times;"), f %></span>
    </div> 
</div>  
