<% rss formatted_books_url(:rss) %>
<% title "Biblioteca Terra Livre" %>

<%= render :partial => "search" %>

<div id="admin">
<% if admin? %>
    <%= link_to "Novo Livro", new_book_path %> | 
    <%= link_to "Deslogar", :controller => 'sessions', :action => 'destroy' %>
<% end %>  
</div>
