<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>

<% if page == current_page %>
  <li class='active'>
<% else %>
  <li>
<%end%>
  <% if params[:user_id] %>
    <%= link_to page, user_books_path(@user, params.merge(:page => page)), opts = {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil} %>
  <% else %>
    <%= link_to page, url, opts = {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil} %>    
  <% end %>
</li>
