/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
*/

body{
  font-family: sans-serif;
}

/*#nav-collapse{*/
/*  height: auto;*/
/*}*/

.modal legend{
  margin: 12px;
}

#imgcapa{
  margin: 15px auto;
  display: block;
  width: 150px;
}

.sidebar-nav .book-title{
  font-size: 16pt;
  margin-bottom: 10px;
}

.sidebar-nav .book-subtitle{
  font-size: 12pt;
  margin-bottom: 20px;
}

a.authors{
  color: black;
  cursor: default;
}

a.authors:hover{
  text-decoration: none;
}

th{
  font-size: 14px;
}
